body{
    margin: 0;
    padding: 0;
    font-family: 'Fira Sans';
    overflow-x: hidden;
}

/*---------------- SCROLL-BAR ---------------- */

/* Se oculta el scrollbar */
body::-webkit-scrollbar{    display: none;  }

/* ---------------- FIN DEL SCROLL-BAR ---------------- */
/*---------------- NAVEGADOR ----------------*/
nav{
    width: 100%;
    height: 60px;
    background-color: rgb(19, 19, 19);
    display: flex;
    justify-content:space-evenly;
}

nav a:nth-child(2){
    
    margin-left: 35%;
}

nav a:first-child{
    /* background: #BD1616; */
    width: 20px;
    height: 20px;
    /* justify-items: center; */
    padding: 0;
}

nav a, p{

    width: 70px;
    height: 35px;
    font-size: 15px;
    padding: 20px 30px 1px 30px;
    text-decoration: none;
    color: white;
    text-align: center;
}

nav p{
    padding: 3px 0px 0px 0px;
    /* background-color: blueviolet; */
}

nav a:last-child{
    width: 100px;
}

.icono-nav img{
    width: 35px;
    padding: 13px;
    margin-left: 5px;
}

nav a:hover:not(.icono-nav){
    color: #ff0055;
    border-bottom: 10px solid #BD1616;
    /* background-color: #BD1616; */
    transition: 0.4s;
    /* color:white; */
}

/*---------------- Slider ----------------*/
.slider{
    width: 100%;
    height: 700px;
    background-color: #BD1616;
}

/* Slider y animacion del mismo */
.slider{
    width: 100%;
    height: 500px;
    overflow: hidden;

    transition-duration: infinite;
}

.slides{
    width: 500%;
    height: 500px;
    display: flex;
}

.slides input{
    display: none;
}

.slide{
    width: 20%;
    transition: 2s;
}

.slide img{
    width: 100%;
    height: 500px;
    transition: 60s;
    /* background: green; */
}

.slide .description-slide{
    
    position: absolute;
    width: 100%;
    height: 500px;
    background-color: rgba(189, 22, 22, 0.35);
    transition: 60s;
}


.description-slide p{

    text-align: center;
    width: 32%;
    font-size: 35px;
    color: #ffffff;
    margin-top: 8%;
    /* background-color: green; */
}

/* Barra de volumen */

.volume-bar{
    width: 100%; 
    height: 80px;
    padding: 0;
    margin: 0;
}

div#mp3_player{
    width: 100%;
    height: 50px;
}

div#mp3_player > div > audio{
    width: 100%;
    background: #000;
    float: left;
}

div#mp3_player > canvas {
    width: 100%;
    height: 180px;
}

.description-slide div:last-child{
    
    margin-top: 74px; 
}
/* Posicionamiento de los audios */

.reproductor{

    width: 12%;
    height: 90px;
    background-color: rgb(255, 230, 230);
    border-radius: 50%;
    transition: 1s;
}

.reproductor:hover{
    cursor: pointer;
    transform: scale( 1.1);
}

.audio-right{
    margin-left: 72%;
}

.flecha{

    width: 50%;
    height: 70px;
    /* margin: 10px; */
    border-radius: 50%;
    /* background-color: green; */

}

/* Navegacion manual slide por css */

.flechas{
    position: absolute;
    width: 100%;
    margin-top: 60px;
    display: flex;
    justify-content: space-between;
}

.flechaIzquierda, .flechaDerecha{
    background-color: rgba(0, 0, 0, 0.3);
    width: 3%;
    height: 360px;
    align-items: center;
    transition: all 1s infinite;
    z-index: 100;
    transition: 1s;
}

.flechaDerecha:hover, .flechaIzquierda:hover{

    cursor: pointer;
    background-color: rgba(0, 0, 0, 0.5);
}

.flecha{
    width: 40px;
    height: 40px;
    background-color: rgb(0, 0, 0);
    margin-top: 160px;
    transition: all 1s;
}

.flecha:hover{
    transform: scale(1.12);
}

.navegation-manual{
    position: absolute;
    width: 100%;
    margin-top: -40px;
    display: flex;
    /* justify-content: center; */
    justify-content: center;
}

.manual-btn{
    border: 2px solid white;
    padding: 5px;
    border-radius: 10px;
    cursor: pointer;
    transition: 1s;
}

.manual-btn:not(:last-child){
    margin-right: 40px;
}

.manual-btn:hover{
    background-color: seashell;
}

#radio1:checked ~ .first{
    margin-left: 0;
}

#radio2:checked ~ .first{
    margin-left: -20%;
}

#radio3:checked ~ .first{
    margin-left: -40%;
}

#radio4:checked ~ .first{
    margin-left: -60%;
}


/* css para la navegacion automatica */

.navegation-auto{
    position: absolute;
    display:flex;
    width: 100%;
    justify-content: center;
    margin-top: 310px;
}

.navegation-auto div{
    border: 2px solid white;
    padding: 5px;
    border-radius: 10px;
    transition: 1s;
}

.navegation-auto div:not(:last-child){
    margin-right: 40px;
}

#radio1:checked ~ .navegation-auto .auto-btn1{
    background: seashell;
}

#radio2:checked ~ .navegation-auto .auto-btn2{
    background: seashell;
}

#radio3:checked ~ .navegation-auto .auto-btn3{
    background: seashell;
}

#radio4:checked ~ .navegation-auto .auto-btn4{
    background: seashell;
}
/* Fin del Slider */

/*---------------- Information ----------------*/
.information{
    width: 100%;
    height: 520px;
    background-color: #FF2626;
    display: flex;
}

.information1{

    width: 60%;
    height: 500px;
    /* background-color: blue; */
    margin: 160px 20px 0px 20px;
    display: flexbox;
}

.information1 p{

    width: 50%;
    margin: 80px 0px;
    font-size: 28px;
    position:absolute;
}

.information .girl{
    /* Tamaño */
    width: 35%;
    height: 50%;

    /* Bordes */
    border-top-left-radius: 80%;
    border-top-right-radius: 50%;
    border-bottom-right-radius: 80%;
    border-bottom-left-radius: 30%;

    margin: 150px 0px 50px 50px;
    background-color: #FFE6E6;
    z-index: 3;
}

.float-icons{
    width: 100%;
    height: 70%;
    display: inline-flex;
    justify-items: column;
}

/* s-i significa Sound-Icon */
.s-i{
    /* Tamaño y separacion */
    width: 7%;
    height: 8%;
    margin-right: 30%;
}

.sound-icon-1{

    /* Posicion y rotacion */
    transform: rotate(-25deg);
    margin: 10% 30% 0 5%;
}

.sound-icon-2{

    /* Posicion y rotacion */
    margin-top: 38%;
    transform: rotate(25deg);
}

.info-reproductor{
    
    /* Posicion y rotacion */
    transform: rotate(30deg);
    width: 20%;
    height: 25%;
    margin: 4% 4% 0 auto;
}

/*---------------- Informacion de Algunas Funciones ----------------*/

.funciones-info{
    /* Tamaño */
    width: 100%;
    height: 520px;

    /* Fondo */
    background: #f01c1c;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to bottom, #f01c1c 80%, #0a0a0a);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to bottom, #f01c1c 82%, #0a0a0a); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}

.funciones-info h2{

    /* Tamaño y Posicion */
    color:rgb(255, 240, 240);
    font-size: 40px;
    display: flex;
    justify-content: center;

    margin-top: 0%;
}

/* Tarjetas de informacion */

.funciones{
    margin-top: 5%;
    display:flex;
    justify-content: space-evenly;
}

.card{

    /* Tamaño */
    width: 30%;
    /* height: 355px; */
    height: 440px;
    border-radius: 5%;

    /* Posicion */
    text-align: center;
    justify-items: center;

    /* Color */
    background: #f01c1c;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to bottom, #e61b1b 70%, #0a0a0a); /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to bottom, #db1919 70%, #0a0a0a); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}

.description{
    width: 100%;
    height: 100%;
}

.description h3{
    color:rgb(255, 230, 230);
    font-size: 30px;

    margin-top: 0;
    margin-bottom: 0;
}

.description p{
    width: 80%;
}

.card img{
    
    background-color: #FFE6E6;
    padding: 10px 10px 0px 10px;

    border-radius: 5%;
    margin-top: 8%;
    margin-bottom: 8%;
}


/*---------------- Footer ----------------*/
footer{
    width: 100%;
    height: 300px;
    background-color: rgb(8, 8, 8);
}

.logo-footer img{
    width: 5%;
    height: 10%;

    margin: 7% 2% 0% 2%;
}

.logo-footer{
    /* background-color: green; */
}